.popup_opened{
  display: flex;
    align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 600px){
  .popup_opened{
    padding: 19px;
    box-sizing: border-box;
  }
}
