.form__button_disabled{
  border: 1px solid #000000;
  background: transparent;
  color: #000;
  opacity: 0.2;
  cursor: default;
  box-sizing: border-box;
}

.form__button_disabled:hover{
  opacity: 0.2;
}
