.user-panel__description {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding-top: 7px;
}

@media screen and (max-width: 600px) {
  .user-panel__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

  }
}
