.form__input-container {
  border: 0;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 48px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .form__input-container {
    margin-bottom: 45px;
  }
}
