.user-panel__add {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 62px;
  background-color: transparent;
}

@media screen and (max-width: 600px){
  .user-panel__add{
    margin-left: 0;
    width: 16px;
    padding: 17px calc((100% - 16px)/2);
  }
}
