.user-info__edit-name {
  border: 1px solid #fff;
  padding: 7px;
  line-height: 0;
  margin-bottom: 9px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .user-info__edit-name {
    margin-bottom: 0;
    align-self: center;
  }
}
